label,
select {
    width: 200px;
}

body {
    margin-left: 20px;
}

input,
select,
textarea {
    margin: 5px;
}

#vara,
#isik,
#tunnistaja,
.form-group-additional-info {
    width: 450px;
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}

#submitInfo {
    font-weight: bold;
    font-size: 250%;
}

#removeVaraButton,
#removeIsikButton,
#removeTunnistajaButton,
#submitButton {
    margin: 5px;
}
